.About_us {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0%;
	top: 100vh;
}
.content-main {
	width: 85.42vw;
	margin:auto;
	margin-top: 11.39vh;
	height: 41.85vh;
	overflow: visible;
	text-align: center;
}

.content-main .title {
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
}

.content-main .content {
	margin : 0 auto;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	line-height: 4vh;
}

.statistics {
	padding: 10vh;
  margin:auto;
	width: 80vw;
	overflow: visible;
	text-align: left;
  display: flex;
  justify-items: center;
  align-items: center;	
}

.statistics .stat {
	width: 10vw;
    font-size: 3.7vh;
    line-height: 4vh;
}

.statistics {
  padding: 10vh;
  margin:auto;
	width: 80vw;
	overflow: visible;
  text-align: left;
  display: flex;
  justify-items: center;
  align-items: center;
}

.statistics .stat {
  width: 10vw;
  margin:auto;
  height: 100%;
  display: inline-block;
	text-align: center;
}

.statistics .stat .value {
	font-family: Iceland;
	font-style: normal;
	font-weight: normal;
	font-size: 8vh;
	margin: auto;
}

.statistics .stat .placeholder {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	margin: auto;
}

@media only screen and (max-width: 768px) {
    .About_us{
        top:100.106%;
    }
    .content-main .content{
        top:10%;
        font-size: 2vh;
        letter-spacing: 0.1px;
        line-height: 3vh;
    }
    .statistics {
        width: 90vw;
        padding: 10vh 5vw;
        flex-wrap: wrap;
    }
    .statistics .stat{
        width: min-content;
    }
    .statistics .stat .value{
        font-size:5vh;
    }
    .statistics .stat .placeholder{
        font-size: 2.5vh;
    }
}
