html {
    width: 100vw;
    overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: Josefin Sans;
	color: rgb(255,255,255);

}
body {
    background-image: linear-gradient(#00151d, #000);;
}
#Rectangle_8_a {
	fill: rgba(0,0,0,1);
}
.Rectangle_8_a {
	position: fixed;
	overflow: visible;
	width: 100%;
	height: 14.26%;
	left: 0%;
	top: 0%;
}
.content {
    position: relative;
    width: 100vw;
}

#title { 
    font-size: 8.33vh;
    color: white;
    margin-bottom: 32px;
}

#title p {
    text-align: center;
}

#row1, #row2 {
    margin-left: 10.9375vw;
    font-size: 3.7vh;
    margin-right: 10.9375vw;

}

#row1 {
    margin-top: 12.5vh;
    margin-bottom:12.31vh;
}
#row1 img {
    float: right;
    width: 28.7vw;
    height: 13.05vh;
}

.footer {
    position: relative;
    width: 100vw;
    margin-top: 10.18vh;
}

.container {
    display: flex;
    vertical-align: middle;
}

#row2 img {
    float: left;
    width: 18.98vh;
    height: 18.98vh;
    margin-right: 4.63vw;
}

#row2 {
    margin-bottom: 10.18vh;
}
.member_achievements {
  margin-top: 8.33vh;
  width: 90vw;
  margin-left: auto;
  margin-bottom: 12.5vh;
}
.card {
  background-color: rgba(255,255,255,0.09);
  max-width: 341px;
  margin-right: 4.17vw;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.card .content {
  color: #FFFFFF;
  font-size: 2.78vh;
  max-width: 299px;
  width: 100%;
  margin-left: 5px;
}
.card img {
  margin-bottom: 20px;
}

#CA, #MA {
  font-size: 65px;color: #FFFFFF; opacity: 0.53;margin-left: 5.36vw;
}

    /* HTML Set up */
    @font-face{
        font-family: Josefin Sans;
        src: url(../fonts/static/JosefinSans-Regular.ttf);
    }
    footer {
        width: 100vw;
        color: #fff;
        margin: 0;
        font-family: Josefin Sans;
        margin-bottom: 5.09vh;
    }
    .social_r {
        display:none;
    }
    footer .centered {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    
    footer .centered .footer-contact {
      width: 24.58vw;
      font-size: 2.5vh;
      text-align: center;
      margin-right: 9.32vw;
    }
    .footer-contact h3 {
        font-size: 3.7vh;
    }
    
    .footer-links-holder {
      width: 18.33vw;
      position: relative;
      float: left;
      margin: 0;
      font-size: 2.5vh;
      margin-left: 9.53125vw;
    }
    .footer-links-holder h3 {
        font-size: 3.7vh;
    }
    .social img {
        height:4.17vw;
        width: 4.17vw;
        max-height: 80px;
        max-width: 80px;
        min-width: 21px;
        min-width: 21px;
    }
    .social_r img {
        height:4.17vw;
        width: 4.17vw;
        max-height: 80px;
        max-width: 80px;
        min-width: 21px;
        min-height: 21px;
    } 
    /* Responsive Tablet Sizes */
    @media only screen and (min-width: 769px) and (max-width: 998px) {
      footer .centered {
        flex-wrap: wrap;
      }
    footer .centered .footer-contact {
        width: 100vw;
        padding: 0 20px;
      }
    }
    /* Responsive Mobile Sizes */
    @media only screen and (max-width: 768px) {
      .footer-links-holder, .social {
        display: none;
      }
        .social_r {
        text-align: center;
      }
      div.social_r {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      #title {
          font-size: 4.13vh;
      }
      #CA, #MA {
        font-size: 4.13vh;
    }
      #row1, #row2 {
          font-size: 2.29vh;
      }
      #row1 img {
        float: right;
        width: 30.68vw;
        height: 5.05vh;
    }
    #row2 img {
        float: left;
        width: 12.23vh;
        height: 12.23vh;
    }
    footer .centered .footer-contact {
        width: 100vw;
        margin: 0;
    }
    .card .content {
      width: 95%;
      margin: 0;
    }
    }
    /* Social Icons */
    .social {
      text-align: center;
      margin-top:auto;
      margin-bottom:auto;
    }
    .social a {
      display: inline-block;
      margin: 1.95vw;
      width: 4.17vw;
      height: 4.17vw;
      /*background: #fff;*/
      vertical-align: middle;
    }
    .social_r a {
      display: inline-block;
      margin: 1.95vw;
      width: 4.17vw;
      height: 4.17vw;
      /*background: #fff;*/
      vertical-align: middle;
      text-align: center;
    }
    footer h3 {
      font-weight: lighter;
      font-style: italic;
      margin-bottom: 0;
    }
    footer p {
      letter-spacing: 0.05em;
      margin: 10px 0;
    }
    footer a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: color .5s, background .5s;
      transition: color .5s, background .5s;
    }
    footer a:hover {
      color: #65c2ed;
    }
    
    /* Misc CSS */
    .clearfix:before, .clearfix:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both;
    }
    
    body {
      margin: 0;
    }
    
    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
