.container {
	position: absolute;
	width: 100vw;
	margin-left: 0;
	right: 0;
	overflow: visible;
	top: 500vh;
}

.container .row1 {
	width: 38.43vw;
	height: 8.52vh;
	margin-left: 30.78vw;
	margin-right: 30.79vw;
	text-align: center;
	font-size: 8.33vh;
	margin-top: 11.57vh;
}

.container .row2 span{
	width: 47.19vw;
	height: 8.43vh;
	margin-left: 10.94vw;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	margin-top: 15.74vh;
}

.container .row2 img {
	margin-top: 11.02vh;
	margin-right: 10.83vw;
	width: 28.7vw;
	height: 13.06vh;
}

.container .row3 span{
	width: 54.37vw;
	height: 8.43vh;
	right: 19.37vw;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	top: 61.76vh;
	margin-top: 17.5vh;
	margin-right: 19.375vw;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container .row3 img {
	margin-top: 12.31vh;
	top: 56.57vh;
	margin-left: 10.94vw;
	margin-right: 4.63vw;
	width: 10.68vw;
	height: 18.98vh;
}

.footer {
	position: absolute;
	width: 98vw;
	height: 33.93vh;
	top: 600vh;
}

.footer-content {
	width: 80vw;
	height: 25vh;
	margin:0 auto;
	margin-top: 3vh;
	display: flex;
}
.footer-content>div{
	padding: 0.5vw;
}
#bits-acm {
	width: 25vw;
	display:flex;
	flex-flow: column;
}

#title {
	font-size: 3.7vh;
}

#content {
	font-size: 2.5vh;
	line-height: 3vh;
}

#medialogos{
	width: 40vw;
	text-align: center;
	margin: auto;
}

#medialogos>img{
	height: 8vh;
	width: 4vw;
	margin: 1vw;
}

#find {
	width: 25vw;
	right: 9.32vw;
	display:flex;
	flex-flow: column;
	text-align: center;
}

#find>div{
	padding: 2vw;
}

#titlefind {
	text-align: center;
	font-size: 3.7vh;
}

#contentfind {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vh;
}


#titleemail {
	text-align: center;
	font-size: 3.7vh;
}

#contentemail {
	font-size: 2.5vh;
}