.mediaViewInfo {
	--web-view-name: Achievements;
	--web-view-id: Achievements;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Achievements;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__3 {
	position: absolute;
	width: 100vw;
	height: 130.93vh;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Achievements;
	--web-view-id: Achievements;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Rectangle_8 {
	fill: rgba(0,0,0,1);
}
.Rectangle_8 {
	position: fixed;
	overflow: visible;
	width: 100%;
	height: 14.26%;
	left: 0%;
	top: 0%;
}
#Path_287_n {
	fill: url(#Path_287_n);
}
.SIG {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 85.74%;
	left: 0%;
	top: 14.26%;
}

.container {
	position: absolute;
	width: 100vw;
	margin-left: 0;
	right: 0;
	margin-top: 14.26vh;
	height: 85.74vh;
	overflow: visible;
}

.container .row1 {
	width: 38.43vw;
	height: 8.52vh;
	margin-left: 30.78vw;
	margin-right: 30.79vw;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 8.33vh;
	color: rgba(255,255,255,1);
	margin-top: 11.57vh;
}

.container .row2 span{
	width: 47.19vw;
	height: 8.43vh;
	margin-left: 10.94vw;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	color: rgba(255,255,255,1);
	margin-top: 15.74vh;
}

.container .row2 img {
	margin-top: 11.02vh;
	margin-right: 10.83vw;
	width: 28.7vw;
	height: 13.06vh;
}

.container .row3 span{
	width: 54.37vw;
	height: 8.43vh;
	right: 19.37vw;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	color: rgba(255,255,255,1);
	top: 61.76vh;
	margin-top: 17.5vh;
	margin-right: 19.375vw;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container .row3 img {
	margin-top: 12.31vh;
	top: 56.57vh;
	margin-left: 10.94vw;
	margin-right: 4.63vw;
	width: 10.68vw;
	height: 18.98vh;
}

.footer {
	position: absolute;
	width: 100vw;
	height: 33.93vh;
	top: 100vh;
}

.footer-content {
	width: 81.12vw;
	height: 30.74vh;
	margin-top: 3.19vh;
	margin-left: auto;
	margin-right: auto;
}

#bits-acm {
	width: 22.6%;
	height: 30.74vh;
	margin-right: 7.48vw;
	float:left;
}

#title {
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	color: rgba(255,255,255,1);
}

#content {
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vh;
	color: rgba(255,255,255,1);
}

#medialogos {
	top: 110.79vh;
	width: 29.38vw;
	height: 7.43vh;
	left: 35.36vw;
	float: left;
	margin-right: 2.34vw;
	margin-top: 10.79vh; 
}

#logo1 {
	height: 7.41vh;
	width: 4.17vw;
	margin-right: 3.9vw;
}

#logo2 {
	height: 7.41vh;
	width: 4.17vw;
	margin-right: 3.9vw;
}

#logo3 {
	height: 7.41vh;
	width: 4.17vw;
	margin-right: 3.9vw;
}

#logo4 {
	height: 7.41vh;
	width: 4.17vw;
}

#find {
	width: 27.09%;
	height: 11.11vh;
	float: left;
	right: 9.32vw;
}

#titlefind {
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	color: rgba(255,255,255,1);
}

#contentfind {
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vh;
	color: rgba(255,255,255,1);
}

#email {
	width: 18.33vw;
	height: 6.85vh;
	float: left;
	right: 9.32vw;
	top: 119.54vh;
	float: right;
}

#titleemail {
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 3.7vh;
	color: rgba(255,255,255,1);
}

#contentemail {
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vh;
	color: rgba(255,255,255,1);
}