#blog {
    position: relative;
    background:linear-gradient(#000000,#00151D);
	width: 100%;
	min-height: 100vh;
	background-color: rgba(255,255,255,1);
    overflow: hidden;
    padding: 10vh 0;
}
#From_Our_Blog {
	left: 5.46875%;
    top: 23.9815%;
    position: relative;
	overflow: visible;
	width: 31.6146%;
	white-space: nowrap;
	text-align: center;
	font-size:9vh;
	font-weight:700;
}
#Blog_List {
	width: 100vw;
	height: fit-content;
	left: 5.46875%;
    top: 38.24%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#Blog_List>div{
    width:30%;
}

.blog_item{
    display: flex;
    flex-flow: column;
    padding: 2vw;
    overflow: hidden;
}
.blog_item a{
    text-decoration: none;
}
.blog_author{
	text-align: left;
	font-family: Segoe UI Historic;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
}

.blog_author>*{
    color: #737373;
}
.blog_time{
    padding: 4vh;
    color: #737373;
}

.blog_img{
    overflow: hidden;
    max-height: 30vh;
    max-width: 100%;
    margin: 2vh 0;
}
.blog_img img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.blog_title{
    font-size: 3.2vh;
    line-height: 4vh;
}

#Go_To_Blog_button{
    width: 23vw;
	height: 10vh;
	text-align: center;
	padding-top: 1vh;
	font-size: 5vh;
	font-weight: 100;
	border-radius: 50px;
	cursor: pointer;
    background: rgba(05,160,217,0.52) 0% 0% padding-box;
    outline: none;
}
#Go_To_Blog{
    text-align: center;
    margin: 3vh;
}

@media only screen and (max-width:768px),(max-aspect-ratio:1/1){
    #Blog_List>div{
        width: 40vw;
    }
    #From_Our_Blog{
        font-size:6vh ;
    }
    .blog_img{
        height: 25vh;
    }   
    .blog_author{
        font-size: 1.8vh;
    }
    .blog_time{
        font-size: 1.8vh;
    }
    .blog_title{
        font-size: 2vh;
        line-height: 3vh;
    }
    #Go_To_Blog_button{
        font-size:2vh ;
        width: 40vw;
        height: 6vh;
	}
}
@media only screen and (max-width:568px),(max-aspect-ratio:1/1){
    .blog_img{
        height: 15vh;
    }   
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    #Go_To_Blog_button{
        font-size:3.5vh ;
        width: 25vw;
        height: 6vh;
	}
}