.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
@font-face{
	font-family: Josefin Sans;
	src: url(../fonts/static/JosefinSans-Regular.ttf);
}
@font-face{
	font-family: Iceland;
	src: url(../fonts/Iceland_fonts/Iceland-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: Josefin Sans;
	color: rgb(255,255,255);

}
body{
    width: 100vw;
    overflow-x: hidden;
}

#Web_1920__1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
	/* overflow: hidden scroll; */
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: rtue;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Rectangle_8 {
    fill: rgba(0,0,0,1);
    width: 100vw;
}
.Rectangle_8 {
	position: fixed;
	overflow-x: hidden;
	width: 100vw;
	height: 14.26%;
	left: 0%;
	top: 0%;
}
#Rectangle_28_i {
	fill: url(#Rectangle_28_i);
}

.Rectangle_28_i {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 625vh;
	left: 0%;
	top: 14.26%;
}

#Footer_Rectangle {
	fill: url(#Rectangle_28_i);
}

.Footer_Rectangle {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 25vh;
	left: 0%;
	top: 600vh;
}
#Group_1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin:auto;
    height: 48.426%;
    padding-left: 7vw;
	top: 30.56%;
	overflow: visible;
}

#BITS-ACM_ {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 1));
	overflow: hidden;
	width: 83.4128%;
	height: 60.80%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 9.375vw;
}
#Association_for_Computing_Mach {
	overflow: visible;
	width: 100%;
	height: 21.80%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2.34375vw;
}
#building_the_future {
	overflow: visible;
	width: 62.536%;
	height: 21.8%;
	text-align: left;
	font-family: Iceland;
	font-style: normal;
	font-weight: normal;
	font-size: 2.604167vw;
	color: rgba(0,200,255,1);
}

#navbar{
	height: 25vh;
}

#logo {
	position: absolute;
	width: 27.812%;
	height: 30vh;
	left: 0%;
	top: -8vh;
	overflow: visible;
}

#Group_1_n {
	position: fixed;
	width: 98vw;
	height: 15%;
	left: -0.26%;
	overflow: visible;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.9);
}
#Home {
	left: 52.269%;
	top: 45.855%;
	position: absolute;
	overflow: visible;
	width: 5.423%;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 1.875vw;
}
#SIG {
	opacity: 0.7;
	left: 61.9865%;
	top: 45.855%;
	position: absolute;
	overflow: visible;
	width: 3.275%;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
}
#Events {
	opacity: 0.7;
	left: 71%;
	top: 45.855%;
	position: absolute;
	overflow: visible;
	width: 5.85235%;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
}
#Achievements_ {
	opacity: 0.7;
	left: 80.564%;
	top: 45.855%;
	position: absolute;
	overflow: visible;
	width: 11.8658%;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
}
#Blog {
	opacity: 0.7;
	left: 96.134%;
	top: 45.855%;
	position: absolute;
	overflow: visible;
	width: 3.9195%;
	height: inherit;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
}


#ID3d_logo {
	position: absolute;
	width: 10.104%;
	height: 43.426%;
	left: 72.5%;
	top: 33.148%;
	overflow: visible;
}
@media only screen and (min-width: 768px) and (max-width: 998px){
    .content-main .content{
        font-size:2.7vh ;
    }
}

@media only screen and (max-width: 768px) {
    #Group_1{
        left:0;
        top: 60vh;
        padding-left: 0;
    }
    #BITS-ACM_ {
        width: 100%;
        left: 50%;
        margin-right: -50%;
        letter-spacing: 0px;
        text-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        height: fit-content;
        text-align: center;
        padding:1vh 0;
        font-size: 7.5vh;
    }
    #Association_for_Computing_Mach {
        left: 50%;
        margin-right: -50%;
        width: 100%;
        height: fit-content;
        text-align: center;
        padding:1vh 0;
        font-size:2.5vh;
        line-height:3vh;
    }
    #building_the_future {
        left: 50%;
        margin-right: -50%;
        width: 100%;
        text-align: center;
        padding:3vh 0;
        font-size:3vh;
        line-height:3vh;
    }
    #ID3d_logo {
		position: absolute;
		top: 25%;
		left: 50%;
		width: 21.082%;
		height: 29.204%;
		margin-left: -9.541%;
		overflow: visible;
	}
}
