.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
@font-face{
	font-family: Josefin Sans;
	src: url(../fonts/static/JosefinSans-Regular.ttf);
}
@font-face{
	font-family: Iceland;
	src: url(../fonts/Iceland_fonts/Iceland-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: Josefin Sans;
    color: rgb(255,255,255);
    font-style: normal;
	font-weight: normal;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

#Web_1920__1 {
    position: relative;
    background:linear-gradient(#000000,#00151D);
	width: 100%;
    height: 100vh;
	background-color: rgba(255,255,255,1);
	/* overflow: hidden scroll; */
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Rectangle_8 {
    fill: rgb(0,0,0);
    z-index: 9999;
  width: 100vw;
}
.Rectangle_8 {
	position: fixed;
	overflow-x: hidden;
	width: 100vw;
	height: 14.26%;
	left: 0%;
	top: 0%;
}
#Rectangle_28_i {
	fill: url(#Rectangle_28_i);
}
.Rectangle_28_i {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 625vh;
	left: 0%;
	top: 14.26%;
}
#Footer_Rectangle {
	fill: url(#Rectangle_28_i);
}
.Footer_Rectangle {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 25vh;
	left: 0%;
	top: 600vh;
}
#Group_1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin:auto;
    height: 48.426%;
	top: 30.56%;
    overflow: visible;
}
#BITS-ACM_ {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 1));
    overflow: hidden;
    margin: auto;
	height: 60.80%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
    font-size: 12vw;
    text-align: center;
}
#Association_for_Computing_Mach {
	overflow: visible;
	width: 100%;
	height: 21.80%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
    font-size: 2.34375vw;
    margin: auto;
    text-align: center;
    line-height: 8vh;
}
#building_the_future {
	overflow: visible;
	width: 62.536%;
	height: 21.8%;
	text-align: left;
	font-family: Iceland;
	font-style: normal;
	font-weight: normal;
	font-size: 2.604167vw;
	color: rgba(0,200,255,1);
}
#navbar{
	height: 25vh;
}
#logo {
	position: absolute;
	width: 27.812%;
	height: 30vh;
	left: 0%;
	top: -8vh;
	overflow: visible;
}
#Group_1_n {
    position: fixed;
	width: 100%;
    height: 15%;
    top: 0;
	overflow: visible;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.9);
}
#Group_1_n a{
    text-decoration: none;
}
#Home {
	left: 52%;
	top: 45%;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 1.875vw;
	visibility: visible;
}
#SIG {
	opacity: 0.7;
	left: 61%;
	top: 45%;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
	visibility: visible;
}
#Events {
	opacity: 0.7;
	left: 71%;
	top: 45%;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
	visibility: visible;
}
#Achievements_ {
	opacity: 0.7;
	left: 80%;
	top: 45%;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
	visibility: visible;
}
#Blog {
	opacity: 0.7;
	left: 95%;
	top: 45%;
	position: absolute;
	overflow: visible;
	height: inherit;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 1.875vw;
	visibility: visible;
}
#ID3d_logo {
	position: absolute;
	width: 10.104%;
	height: 43.426%;
	left: 72.5%;
	top: 33.148%;
	overflow: visible;
	visibility: visible;
} 

button:active{
    transform: scale(1.01);
}
.button_link{
    text-decoration:none;
}

@media only screen and (min-width: 768px) and (max-width: 998px){
    .content-main .content{
        font-size:2.7vh ;
    }
}

@media only screen and (max-width: 768px) {
    #Group_1{
        left:0;
        top: 40vh;
        padding-left: 0;
    }
    #BITS-ACM_ {
        width: 100%;
        left: 50%;
        letter-spacing: 0px;
        text-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        height: fit-content;
        text-align: center;
        padding:1vh 0;
        font-size: 7.5vh;
    }
    #Association_for_Computing_Mach {
        left: 50%;
        width: 100%;
        height: fit-content;
        text-align: center;
        padding:1vh 0;
        font-size:2.5vh;
        line-height:3vh;
    }
    #building_the_future {
        left: 50%;
        margin-right: -50%;
        width: 100%;
        text-align: center;
        padding:3vh 0;
        font-size:3vh;
        line-height:3vh;
    }
    #ID3d_logo {
		position: absolute;
		top: 25%;
		left: 50%;
		width: 21.082%;
		height: 29.204%;
		margin-left: -9.541%;
		overflow: visible;
	}
}


#Rectangle_8_mobile {
	fill: rgba(0,0,0,0.9);
}

#Rectangle_8_mobile_outer{
    position: fixed;
	overflow: visible;
	width: 60%;
	height: 100%;
	right: 0%;
    top: 0%; 
	z-index: 9998;
	visibility: hidden;
}

#Menu_bars{
	visibility: hidden;
}

#Close{
	visibility: hidden;
}

@media only screen and (max-width: 768px) {
	#BITS-ACM_{
        font-size: 10vh;
    }
	#Menu_bars{
		top:10%;
		right:5%;
		left:auto;
		overflow: visible;
		position: absolute;
		font-size: 200%;
		visibility: visible;
	}
	#Close{
		top:10%;
		right:5%;
		left:auto;
		overflow: visible;
		position: absolute;
		font-size: 250%;
		visibility: hidden;
	}

	#Rectangle_8_mobile_outer{
		visibility: hidden;
	}
	#Home{
		top: 106.666%;
		font-size: 2em;
		left:auto;
		right:0%;
		visibility: hidden;
	}
	#SIG{
		top:156.666%;
		font-size: 2em;
		left:auto;
		right:0%;
		visibility: hidden;
	}
	#Events{
		top:206.666%;
		font-size: 2em;
		left:auto;
		right:0%;
		visibility: hidden;
	}
	#Achievements_{
		top:256.666%;
		font-size: 2em;
		left:auto;
		right:0%;
		visibility: hidden;
	}
	#Blog{
		top:306.666%;
		font-size: 2em;
		left:auto;
		right:0%;
		visibility: hidden;
	}
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
}
body::-webkit-scrollbar-track { 
    background : #39535ea1;
    border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
    background : #FFEAE455;
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}