#SIG_content{
    position: relative;
    background:linear-gradient(#000000,#00151D);
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	text-align: end;
	padding:0 5vw;
}
#SIG_text{
	display: flex;
	flex-flow: column;
	width: 50vw;
	line-height: 5vh;
}
#SIG_heading{
	position: relative;
	top: 10vh;
	font-size:8vh;
	font-weight:700;
	letter-spacing: 0px;
    padding-right: 5vw;
    margin-bottom:2vh ;
}
#SIG_desc{
	position: relative;
	top:10vh;
	height: fit-content;
	font-size: 4vh;
	padding: 2vh;
    opacity: 0.72;
    text-align: justify;
}
#SIG_Learn_more{
	position: relative;
	padding: 2vh;
	margin-top: 10vh;
	align-self: center;
}
#SIG_Learn_more_button{
	width: 23vw;
	height: 10vh;
	text-align: center;
	padding-top: 1vh;
	font-size: 5vh;
	font-weight: 100;
	border-radius: 50px;
	cursor: pointer;
    background: rgba(05,160,217,0.52) 0% 0% padding-box;
    outline: none;
}
#SIG_img{
	position: relative;
	width: 40vw;
	top: 5vh;
}
#SIG_img>img{
	height:80%;
	width: 100%;
}
@media (max-width: 1000px),(max-aspect-ratio:1/1){
	#SIG_content{
		flex-direction: column;
		padding: 5vw;
	}
	#SIG_text{
		width: 90vw;
	}
	#Learn_more{
		top:80vh
	}
	#SIG_img{
        max-width: 100%;
        min-width: 75%;
	}
}

@media only screen and (max-width: 768px),(max-aspect-ratio:1/1)  {
    #SIG_heading{
        font-size:5vh ;
        height: 6vh;
        text-align: center;
    }
    #SIG_desc{
        font-size:2.5vh ;
        line-height: 4vh;
    }
    #SIG_Learn_more_button{
        font-size:2.5vh ;
        width: 40vw;
        height: 6vh;
	}
}

@media only screen and (min-width: 768px)and (max-width: 992px){
    #SIG_Learn_more_button{
        font-size:3.5vh ;
        width: 25vw;
        height: 6vh;
	}
}
