body {
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  background: transparent linear-gradient(180deg, #00151d 0%, #000000 100%);
  width: 100vw;
  min-height: 100vh;
  padding-top: 15vh;
}

.leftContainer {
  margin-top: 10vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10vw;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  color: white;
  margin: 5vh 0;
  font-weight: bold;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vh;
  color: white;
  margin-bottom: 10vh;
}

.rightContainer {
  margin-top: 10vh;
  width: 35%;
  display: flex;
  padding-left: 10vw;
  flex-direction: column;
}

.dateHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 5vh;
  color: white;
}

.resourcesHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5vh;
  color: white;
  margin-top: 4vh;
}

.resource {
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  color: #00c4ff;
  margin: 0.5vh 0;
}

.contactHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5vh;
  color: white;
  margin-top: 4vh;
}

.contact {
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  color: white;
  margin: 0.5vh 0;
}

@media only screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 100%;
    overflow-x: hidden;
  }
  .dateHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5vh;
    color: white;
  }

  .resourcesHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    color: white;
    margin-top: 4vh;
  }

  .resource {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vh;
    color: #00c4ff;
    margin: 0.5vh 0;
  }

  .contactHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    color: white;
    margin-top: 4vh;
  }

  .contact {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vh;
    color: white;
    margin: 0.5vh 0;
  }

  .rightContainer {
    margin-top: 10vh;
    width: 35%;
    display: flex;
    padding-left: 4vw;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent linear-gradient(180deg, #00151d 0%, #000000 100%);
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
  }

  .leftContainer {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-right: 10vw;
    padding-left: 10vw;
    box-sizing: border-box;
  }

  .imageContainer {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .heading {
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
    color: white;
    margin: 4vh 0;
    font-weight: bold;
  }

  .text {
    font: normal normal normal 15px/28px Open Sans;
    font-size: 4vw;
    font-weight: normal;
    color: white;
    margin-bottom: 5vh;
  }

  .rightContainer {
    margin-top: 0vh;
    width: 100%;
    display: flex;
    padding-left: 10vw;
    flex-direction: column;
  }

  .dateHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    color: white;
    font-weight: bold;
  }

  .infoContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10vh;
  }

  .resourcesContainer {
    margin-right: 10vw;
  }

  .resourcesHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    color: white;
    margin-bottom: 2vh;
  }

  .resource {
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    color: #00c4ff;
    margin: 0.5vh 0;
  }

  .contactHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    color: white;
    margin-bottom: 2vh;
  }

  .contact {
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    color: white;
    margin: 0.5vh 0;
  }
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
}
body::-webkit-scrollbar-track { 
    background : #39535ea1;
    border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
    background : #FFEAE455;
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}