body {
  overflow-x: hidden;
}

#SIG{
    opacity: 1;
}
#Home{
    opacity: 0.7;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  background: transparent linear-gradient(180deg, #00151d 0%, #000000 100%);
  width: 100vw;
  min-height: 100vh;
  padding-top: 15vh;
}

.leftContainer {
  margin-top: 10vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10vw;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.heading {
  font-size: 4vw;
  color: white;
  margin: 5vh 0;
  font-weight: bold;
}

.text {
  font-size: 3vh;
  line-height: 4vh;
  color: white;
  margin-bottom: 10vh;
  text-align: justify;
}

.rightContainer {
  margin-top: 10vh;
  width: 35%;
  display: flex;
  margin-left: 10vw;
  flex-direction: column;
}

.dateHeading {
  font-size: 4.5vh;
  color: white;
}

.resourcesHeading {
  font-size: 4.5vh;
  line-height: 5.5vh;
  color: white;
  margin-top: 4vh;
}

.resource {
  font-size: 3vh;
  line-height: 4vh;
  color: #00c4ff;
  margin: 0.5vh 0;
}

.contactHeading {
  font-size: 4vh;
  line-height: 5vh;
  color: white;
  margin-top: 4vh;
}

.contact {
  font-size: 2.5vh;
  line-height: 3.5vh;
  color: white;
  margin: 0.5vh 0;
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent linear-gradient(180deg, #00151d 0%, #000000 100%);
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
  }

  .leftContainer {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-right: 10vw;
    padding-left: 10vw;
    box-sizing: border-box;
  }

  .imageContainer {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .heading {
      font-size: 5vw;
    color: white;
    margin: 4vh 0;
    font-weight: bold;
  }

  .text {
    font-size: 4vw;
    line-height: 4.5vw;
    font-weight: normal;
    color: white;
    margin-bottom: 5vh;
  }

  .rightContainer {
    width: 80%;
    display: flex;
    padding-left: 10vw;
    flex-direction: column;
  }

  .dateHeading {
      font-size: 4vw;
    color: white;
    font-weight: bold;
  }

  .infoContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5vh;
  }

  .resourcesContainer {
    margin-right: 10vw;
  }

  .resourcesHeading {
      font-size: 4vw;
    color: white;
    margin-bottom: 2vh;
  }

  .resource {
      font-size: 4vw;
    color: #00c4ff;
    margin: 0.5vh 0;
  }

  .contactHeading {
      font-size: 4vw;
    color: white;
    margin-bottom: 2vh;
  }

  .contact {
      font-size: 4vw;
    color: white;
    margin: 0.5vh 0;
  }
}

@media only screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .container {
      width: 100%;
      overflow-x: hidden;
      flex-direction:column ;
    }
    .dateHeading {
        font-size: 2.5vh;
        line-height: 4vh;
      color: white;
    }
  
    .resourcesHeading {
      font-size: 2vh;
      line-height: 4vh;
      color: white;
      margin-top: 0vh;
    }
  
    .resource {
        font-size: 1.5vh;
        line-height: 2vh;
      color: #00c4ff;
      margin: 0.5vh 0;
    }
  
    .contactHeading {
        font-size: 2vh;
        line-height: 2.5vh;
      color: white;
      margin-top: 2vh;
    }
  
    .contact {
        font-size: 1.5vh;
        line-height: 2vh;
      color: white;
      margin: 0.5vh 0;
    }
  
    .leftContainer {
        width: 89%;
    }
    .rightContainer {
      margin: 5vh 0;
      width: 80%;
      display: flex;
      margin-left: 15vw;
      padding-left: 0;
      flex-direction: column;
    }
    .text{
        font-size: 2vh;
        line-height: 3vh;
        margin-bottom: 0;
    }
    .heading {
      font-size: 4vh;
    }  
  }

body::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
}
body::-webkit-scrollbar-track { 
    background : #39535ea1;
    border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
    background : #FFEAE455;
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}