#Team_content{
    position: relative;
    background:linear-gradient(#00151D,#000000);
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	box-sizing: border-box;
}
#Team_heading{
	font-size:9vh;
    font-weight:700;
    text-align: center;
}
#Team_img{
	width:75vw;
	padding:5vh;
}
#Team_img>img{
	max-width:100%;
	max-height:100%;
}
@media (max-width:1200px){
	#Team_img{
		width:100vw;
		padding: 5vw;
    }
    #Team_content{
        min-height: 70vh;
    }
}