#Team_content{
    position: relative;
    background:linear-gradient(#00151D,#000000);
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	box-sizing: border-box;
}
#Team_heading{
	font-size:9vh;
    font-weight:700;
    text-align: center;
}
#Team_img{
	width:75vw;
	padding:5vh;
}
#Team_img>img{
	max-width:100%;
	max-height:100%;
}

#Meet_everyone{
	position: relative;
	padding: 2vh;
	margin: 0 auto 5vh;
	align-self: center;
}
#Meet_everyone_button{
    width: 23vw;
	height: 10vh;
	text-align: center;
	padding-top: 1vh;
	font-size: 5vh;
	font-weight: 100;
	border-radius: 50px;
	cursor: pointer;
    background: rgba(05,160,217,0.52) 0% 0% padding-box;
    outline: none;
}

@media (max-width:1200px){
	#Team_img{
		width:100vw;
		padding: 5vw;
    }
    #Team_content{
        min-height: 70vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    #Meet_everyone_button{
        font-size:3.5vh ;
        width: 40vw;
        height: 6vh;
    }
}
@media only screen and (max-width: 768px),(max-aspect-ratio:1/1){
    #Meet_everyone_button{
        font-size:2.5vh ;
        width: 35vw;
        height: 6vh;
	}
}
