body{
  overflow-x: hidden;
  text-align: center;
}
.outerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  background: transparent linear-gradient(180deg, #00151d 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mainHeading {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 8vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  opacity: 1;
}

.excom {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 6vh;
  margin-top:3vh;
  opacity: 1;
}

.mainMembers{
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mainMembers > .list1 {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}
.mainMember {
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 1vw;
}

.mainMembers > .list2>div{
    height: 100%;
}
.mainMembers{
    height: 100%;   
}
.memberImageContainer {
    width: 100%;
    height: 12vw;
    border-radius: 50%;
    overflow: hidden;
}
.memberImageContainer img{
    max-height: 100%;
    min-width: 100%;
    height: auto;
}

.mainMember > .name {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 3vh;
  margin-top: 2vh;
}

.mainMember > .position {
  font-family: "Open Sans", sans-serif;
  color: #c6c6c6;
  font-size: 2vh;
  margin-top: 1vh;
}

.mainMember > .iconsContainer{
  margin-top: 2vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.iconsContainer > .iconContainer{
  width: 2vw;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailIcon{
  height: auto;
  width: 100%;
}

.mainMembers > .list2{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.mainMembers > .list3{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.mainMembers > .list4{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembersHeadingContainer{
  width: 100vw;
  padding-left: 15vw;
  height: 7vh;
  display: flex;
  margin: 6vh 0 3vh ;
}

.coreMembersHeading{
  font-family: "Josefin Sans", sans-serif;
  color: white;
  letter-spacing: 0px;
  font-size: 6vh;
  height: 100%;
  width: 80%;
}

.coreMembers{
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.coreMembers > .list1{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembers > .list2{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembers > .list3{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembers > .list4{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembers > .list5{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembers > .list6{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

.coreMembers > .list7{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

@media screen and (max-width:992px){
   .mainMember{
        width: 14vw;
    }
   .memberImageContainer{
       height: 15vw;
    }    
    .mainMember > .name{
        font-size: 2vh;
    }
    .mainMember>.position{
        font-size: 1.5vh;
    }
}